
<div class="chatContainer">

    <div class="chat" id="chat">
        {{!-- <div class="messages">
            <p class="otro">Holaa</p>
            <p class="propio"> Buenas</p>
        </div> --}}
        <p id="messagesLog"></p>
        <div class="send">
            <input type="text" id="chatBox" class="inputChat">
            {{!-- <button id="send" class="sendBtn"> send </button> --}}
        </div>
    </div>

</div>




<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>