* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.chatContainer {
    width: 100vw;
    height: 100vh;
    background-color: rgb(194, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    margin: 1rem;
    padding: .5rem;
    border: 1px solid #000;
    height: 50vh;
    width: 50%;
}

/* .messages {
    width: 95%;
    border: 1px solid black;
} */

/* .otro {
    padding: .5rem;
    border: 1px solid #000;
    margin: .5rem;
    width: 7rem;
} */

/* .propio {
    padding: .5rem;
    border: 1px solid #000;
    margin: .5rem;
    width: 7rem;
} */

.inputChat {
    border: 1px solid #000;
    /* border-top-left-radius: 14px;
    border-bottom-left-radius: 14px; */
    border-radius: 14px;
    padding: .6rem;
    width: 100%;
    background-color: #fff;
}

.send {
    display: flex;
    width: 80%;
}

.sendBtn {
    width: auto;
    background-color: #fff;
    border: 1px solid #000;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    padding: .6rem;
}